<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="获取广告列表"></title>
</head>

<body>

<form action="/open" method="post">
    <p><b>根据流量主、车场、广告页、媒体获取广告列表</b></p>
    <font color="#FF0000"> *</font> 曝光次数：&nbsp;&nbsp;<input name="count" type="text"><br>
    <font color="#FF0000"> *</font>  流量主名称:&nbsp;<input name="trafficName" type="text"><br>
    <font color="#FF0000"> *</font> 车场名称：&nbsp;&nbsp;<input name="parkingName" type="text"><br>
    <font color="#FF0000"> *</font> 广告页面：&nbsp;&nbsp;<input name="id" type="text">（1-入场推送；2-出场推送；3-输入车牌；4-支付页面；5-付款成功）<br>
    <font color="#FF0000"> *</font> 投放媒体：&nbsp;&nbsp;<input name="medium" type="text">（1-公众号；2-小程序;4-支付宝;3-app)<br>
    <font color="#FF0000"> *</font> 车牌号：&nbsp;&nbsp;<input name="userLicence" type="text"><br>
    <font color="#FF0000"> *</font> openId：&nbsp;&nbsp;<input name="openId" type="text"><br>
    <br><input type="submit" value="提交">

</form>


</body>

</html>
