<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="创建流量主"></title>
</head>

<body>

<form action="/create" method="post">
    <p><b>创建n个流量主的n个车场场景(广告位默认所有媒体所有广告位)</b></p>
    <font color="#FF0000"> *</font> 创建流量主个数：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="count" type="number" ><br>
    <br><font color="#FF0000"> *</font> 创建车场个数/流量主：<input name="parkCount" type="number" ><br>
    <br>&nbsp;&nbsp;&nbsp;<input type="submit" value="创建流量主">
</form>
<a href="http://localhost:8888/adv" target="_blank">创建广告位点击这里</a><br>
<a href="http://localhost:8888/park" target="_blank">创建车场点击这里</a><br>
<a href="http://localhost:8888/exp" target="_blank">获取广告列表点击这里</a><br>
<a href="http://localhost:8888/redirect" target="_blank">广告跳转点击这里</a>
<!--<a href="http://172.17.15.54:8888/adv" target="_blank">创建广告位点击这里</a><br>-->
<!--<a href="http://172.17.15.54:8888/park" target="_blank">创建车场点击这里</a><br>-->
<!--<a href="http://172.17.15.54:8888/exp" target="_blank">获取广告列表点击这里</a><br>-->
<!--<a href="http://172.17.15.54:8888/redirect" target="_blank">广告跳转点击这里</a>-->


</body>

</html>
